.progressBar::before {
  content: "";
  position: absolute;
  background-color: #e0e0e0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 4px;
  height: 4px;
  width: 100%;
  z-index: -10;
  transition: 1000ms ease-in;
}

.progressBar {
  position: relative;
}

.progress {
  position: absolute;
  background-color: rgb(42, 14, 253);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 4px;
  height: 4px;
  width: 50%;
  z-index: -10;
  transition: 1000ms ease-in;
}
